ul.customer-list
  list-style: none
  li
    border-radius: 5px
    background-color: lightgray
    padding: 20px 5px 20px 5px
    font-weight: bold
    margin: 20px 0
    position: relative
    font-size: 16px
    width: 800px
    a
      color: black
    span.label
      margin-right: 20px
    span.disabled
      color: gray
    .action-menu
      position: absolute
      display: inline-block
      right: 5px
      top: 12px
