@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps)

$oleo-script-font-family: 'Oleo Script Swash Caps', cursive

$main-yellow: #FDF3D0
$main-red: #BC1C00
$main-red-shadow: #A81900
