// Place all the styles related to the Rentables controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

ul.rentables 
  li
    border-radius: 5px
    background-color: lightgray
    list-style: none
    width: 700px
    min-width: 500px
    padding: 5px
    margin: 10px auto

    img.rentable-image
      height: 100px
      background: white